[submodule "qtcoap"]
	path = qtcoap
	url = https://github.com/dl1xy/qtcoap
[submodule "sndchips"]
	path = sndchips
	url = https://github.com/dl1xy/sndchips
[submodule "qmqtt"]
	path = qmqtt
	url = https://github.com/emqtt/qmqtt
